body {
    font-family: Ubuntu, Dosis, sans-serif;
    margin: 0px;
    padding: 0px;
    line-height: 1.6;
  }
  #sapper {
    margin: 0px;
    padding: 0px;
  }
  
  a,
  a:hover,
  a:focus {
    /* font-weight: bold; */
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* text-transform: uppercase; */
  }
  
  .container {
    margin-right: auto; /* 1 */
    margin-left: auto; /* 1 */
    max-width: 960px; /* 2 */
  }
  
  button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  
  @media (max-width: 400px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: 1em;
      font-size: 1.2rem;
    }
  }
  img {
    max-width: 100%;
  }